body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.navbar-default {
  background-color:rgb(6,53,77);



   /*#06354d#035darkslategrayhsl(200,85,16)rgb(6,53,77)*/
}
#btnHeight {

  margin-top: 20px;

}
/*#users{
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
}*/

#recentS{
  margin-top: 20px;
}

#titleFont {
  font-family: 'Pacifico', cursive;
  color: rgb(255,136,0);
  font-size: 40px;
  margin-top: 15px;
}
#navFinTune{
  display:flex;
  align-items: center;
}

.navHeight {
  height: 50px;
}
.chanceOfRain {
  margin-bottom: -10px;
}
.climacon {
  height: 100px;
  width:100px;
}
/*
nav {
    display: inline-block;
}*/

/*.spacing {
  width: 100px;
}*/
.dropdown-item {
  font-size: 20px;
}

#map {
  height : 300px;
  width: 100%;
}
.temps {
  margin-top: 10px;
}

.lilnudge{
  margin-bottom: 5px;
}
.biggernudge {
  margin-top:30px;
}
.currentInfo {
  height:300px;
}

.day {
  margin-top: -15px;
}
.chanceOfRain {
  height:20px;
  width:auto;
}


#map{
  border-radius: 4px;
  border-width: 2px;
  border-color: lightgray;
  border-style: solid;
}

.filler-height{
  height: 50px;
}
.city-name {
  height: 50px;
  font-size: 30px;
}
