body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.navbar-default {
  background-color:rgb(6,53,77);



   /*#06354d#035darkslategrayhsl(200,85,16)rgb(6,53,77)*/
}

.climacon {
  height: 50px;
  width:50px;
}
#map {
  height : 300px;
  width: 100%;
}

.currentInfo {
  height:300px;
}

.cloudy {
      /*border:solid;
      border-width: medium;
      border-color: red;
      border-style: dashed;*/
      height:60px;
      width:60px;

      background: url('../images/Climacons.png') -105px -45px;

      }



.city-name {
  height: 50px;
  font-size: 30px;
}
