<!-- Navbar! -->


<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SkyCast Weather</a>
      <ul class="nav navbar-nav">
        <li>
          <a ng-click="$ctrl.toggleNewPost()">
            <span class="glyphicon glyphicon-plus"> New Post</a>
        </li>
        <li class="navbar-form">
          <!-- $ctrl.getLatLong(locationString) -->
          <div ng-submit="$ctrl.getLatLong()">
            <form class="form-inline">
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" placeholder="get weather by location" id="locationString" name="locationString" class="form-control" ng-model="$ctrl.locationString">
                  </input>
                  
                </div>
                <!-- you don't necessarily need a button, they could just hit enter like the weater channel-->
                <!-- switched it to button -->
                <input type="submit" class="btn btn-success">Get Weather</input>
              </div>
            </form>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span>Sort by {{ view.currentSort }}</span> <span class="caret"></span></a>
          <!-- double check is dropdown menu a bootstrap thing? -->
          <ul class="dropdown-menu">
            <div ng-repeat="user in $ctrl.users">
              <li><a ng-click="$ctrl.changeUser(user.id)" ng-model='user'> {{user.user_name}}</a></li>
            </div>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
<div class="container-fluid">
  <p ng-bind="showSearchLocation.start"></p>
  <div>
    <p>First name: {{locationName}}</p>

  <div class="row city-name">Namespace for city{{locationName}}</div>
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-5 col-sm-12">
      <div class="row" ng-repeat="data in $ctrl.currentWeather">
        <post data="postObj"></post>
        <div class="col-lg-4 col-md-4">
          <div class="well currentInfo text-center">
            <div class="row">
              <h3 class="text-left day">Current Weather</h3>
              <hr>
              <div class="media-body">
                <img class="climacon" ng-src="images/{{data.currWIcon}}.png"/>
                <h4 class="media-heading temps">
                  {{data.currentTemp}}°
                </h4>
                <div class="biggernudge">
                    {{data.currWSummary}}
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- tomorrow's weather block! -->
        <div class="col-lg-4 col-md-4">
          <div class="well currentInfo text-center">
            <div class="row">
              <h3 class="text-left day ">{{data.tomorrowDay}}</h3>
              <hr>
              <div class="media-body">
                <div>
                  <img class="climacon" ng-src="images/{{data.tommIcon}}.png"/>
                  <h4 class="media-heading text-left temps">
                     <div class="lilnudge">HIGH {{data.tommHigh}}°</div>
                     LOW {{data.tommLow}}°
                   </h4>
                   <p>
                     {{data.tommSummary}}
                   </p>
                  <img class="chanceOfRain" src="images/raindrop.png"/>{{data.tommPrecip}} %
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- two days out forecast info! -->
        <div class="col-lg-4 col-md-4">
          <div class="well currentInfo text-center">
            <div class="row">
              <h3 class="text-left day ">{{data.day2Day}}</h3>
              <hr>
              <div class="media-body">
                <img class="climacon" ng-src="images/{{data.day2Icon}}.png"/>
                <h4 class="media-heading text-left temps">
                    <div class="lilnudge">
                    HIGH {{data.day2High}}°
                    </div>
                    LOW {{data.day2Low}}°
                </h4>
                <p>
                  {{data.day2Summary}}
                </p>
                  <img class="chanceOfRain" src="images/raindrop.png"/>{{data.day2Precip}} %
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-1"></div> -->
    <div id="gmaps" class="container-fluid col-lg-5 col-md-6 col-sm-12">
      <div id="map"></div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- <div class="row" ng-repeat="data in $ctrl.currentWeather">
    <post data="data"></post>
   <div class="col-md-3">
    <div class="well text center">
      <div class="row">
        <div class="media-body">
          <h4 class="media-heading">
            {{data.currentTemp}}

            {{data.currWSummary}}


            {{data.currWIcon}}
            <a ui-sref='edit({id: postObj.id})'>
              <button
              ng-model="postObj"
              type="edit post"
              class="btn btn-primary btn-sm"
              >
              Edit Post
              </button>
              </a>
              <button
              ng-click="$ctrl.deletePost(postObj.id)"
              ng-model="postObj"
              type="delete post"
              class="btn btn-warning btn-sm"
              >
              Del Post
              </button>

          </h4>
          <div class="text-right">
            {{data.t}}
          </div>
          <p>
            {{postObj.body}}
          </p>
          <div>
            Posted On: {{postObj.created_at | date:'medium'}}
            |
            <a ng-click="$ctrl.toggleComments(postObj)">
            <i class="glyphicon  glyphicon-comment"></i>

          </div>

        </div>
      </div>

    </div>
  </div> -->









</div>
<!-- this will take a lot of editing!  -->



<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 text-center">
    <canvas id="tempChart"  height="100"></canvas>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 text-center">
    <canvas id="humidityChart"  height="100"></canvas>
  </div>

</div>
</div>
<!-- {{data.currentTemp}}

{{data.currWSummary}}


{{data.currWIcon}} -->




</div>
