<!-- Navbar! -->


<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SkyCast Weather</a>
      <ul class="nav navbar-nav">
        <li>
          <a ng-click="$ctrl.toggleNewPost()">
            <span class="glyphicon glyphicon-plus"> New Post</a>
        </li>
        <li class="navbar-form">
          <!-- $ctrl.getLatLong(locationString) -->
          <div ng-submit="$ctrl.getLatLong()">
            <form class="form-inline">
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" placeholder="get weather by location" id="locationString" name="locationString" class="form-control" ng-model="$ctrl.locationString">
                  </input>
                </div>
                <!-- you don't necessarily need a button, they could just hit enter like the weater channel-->
                <!-- switched it to button -->
                <input type="submit" class="btn btn-success">Get Weather</input>
              </div>
            </form>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span>Sort by {{ view.currentSort }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="$ctrl.orderByVal='-vote_count'">Votes</a></li>
            <li><a ng-click="$ctrl.orderByVal='title'">Title</a></li>
            <li><a ng-click="$ctrl.orderByVal='-created_at'">Date</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- <li ng-repeat="field in $ctrl.fields"><a href="#" ng-click="setOrderVal(field)">Sort by {{ field }}</a></li> -->
  </div>
</nav>
<div class="container-fluid">
  <div class="row city-name">Namespace for city{{locationName}}</div>
  <div class="row">
    <div class="col-lg-7 col-md-5 col-sm-12">
      <div class="row" ng-repeat="data in $ctrl.currentWeather">


        <post data="postObj"></post>
        <div class="col-lg-4 col-md-4">
          <div class="well currentInfo text-center">
            <div class="row">
              Today
              <hr>
              <div class="media-body">
                <h4 class="media-heading">
                  Current Temperature: {{data.currentTemp}}
                </h4>

                <p>
                  {{data.currWSummary}} {{data.currWIcon}}

                </p>
                <div>





                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- tomorrow's weather block! -->
        <div class="col-lg-4 col-md-4">
          <div class="well currentInfo text-center">
            <div class="row">
              Tomorrow
              <hr>
              <div class="media-body">
                <h4 class="media-heading">
                   Daily High: {{data.tommHigh}}
                   Daily Low: {{data.tommLow}}
                 </h4>

                <p>
                  {{data.tommSummary}}
                </p>
                <div>
                  {{data.tommIcon}}




                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- two days out forecast info! -->
        <div class="col-lg-4 col-md-4">
          <div class="well currentInfo text-center">
            <div class="row">
              two days out!
              <!--  this is where you do moment plus a day -->
              <hr>
              <div class="media-body">
                <h4 class="media-heading">
                    daily high temperature: {{data.day2High}}
                    daily low temperature: {{data.day2Low}}
                  </h4>

                <p>
                  {{data.day2summary}}
                </p>
                <div>

                  {{data.day2Icon}}



                </div>
              </div>
            </div>
          </div>

        </div>



      </div>



    </div>
    <div class="col-lg-1"></div>
    <div id="gmaps" class="container-fluid col-lg-3 col-md-6 col-sm-12">
      <div id="map"></div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- <div class="row" ng-repeat="data in $ctrl.currentWeather">
    <post data="data"></post>
   <div class="col-md-3">
    <div class="well text center">
      <div class="row">
        <div class="media-body">
          <h4 class="media-heading">
            {{data.currentTemp}}

            {{data.currWSummary}}


            {{data.currWIcon}}
            <a ui-sref='edit({id: postObj.id})'>
              <button
              ng-model="postObj"
              type="edit post"
              class="btn btn-primary btn-sm"
              >
              Edit Post
              </button>
              </a>
              <button
              ng-click="$ctrl.deletePost(postObj.id)"
              ng-model="postObj"
              type="delete post"
              class="btn btn-warning btn-sm"
              >
              Del Post
              </button>

          </h4>
          <div class="text-right">
            {{data.t}}
          </div>
          <p>
            {{postObj.body}}
          </p>
          <div>
            Posted On: {{postObj.created_at | date:'medium'}}
            |
            <a ng-click="$ctrl.toggleComments(postObj)">
            <i class="glyphicon  glyphicon-comment"></i>

          </div>

        </div>
      </div>

    </div>
  </div> -->









</div>
<!-- this will take a lot of editing!  -->



<div class="row">
  <div class="col-lg-8 col-md-5 col-sm-12 text-center">







    <h1>Max/Min temps for the past week</h1>


    <canvas id="myChart" width="400" height="100"></canvas>

  </div>

</div>
</div>
<!-- {{data.currentTemp}}

{{data.currWSummary}}


{{data.currWIcon}} -->




</div>
